.button {
  background-color: rgba(2, 4, 141, 0.541);
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid rgba(2, 4, 141, 0.541);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor {
  width: 95%;
}

.botones {
  position: center;
  top: 10px;
  width: 105%;
  text-align: center;
  z-index: 1;
}
